Repository nextcloud/photos, pull requests merged in 2022-06, with the labels that each got.

#1117 Updating node.yml workflow from template
  .github/workflows/node.yml
Labels: dependencies

#1112 Timeline: Do not take VirtualGrid out of DOM to avoid infinite loop
  js/photos-main.js
  js/photos-main.js.map
  js/photos-src_patchedRequest_js-node_modules_moment_locale_sync_recursive_-src_views_Timeline_vue.js
  js/photos-src_patchedRequest_js-node_modules_moment_locale_sync_recursive_-src_views_Timeline_vue.js.map
  src/views/Timeline.vue
Labels: backport-request, 4. to release

#1124 Fix external storage support
  js/photos-main.js
  js/photos-main.js.map
  js/photos-src_patchedRequest_js-node_modules_moment_locale_sync_recursive_-src_views_Timeline_vue.js
  js/photos-src_patchedRequest_js-node_modules_moment_locale_sync_recursive_-src_views_Timeline_vue.js.map
  src/services/PhotoSearch.js
Labels: bug, 3. to review, backport-request, regression
